<!DOCTYPE html>
<html lang="en">

  <%- include('includes/head') %>

  <body>

    <%- include('includes/header') %>

    <main>
      <h2>Welcome to the dashboard</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatibus officiis provident est deserunt, maiores voluptate error neque possimus soluta molestias et totam? Iste aperiam inventore vel dolores voluptatum? Sunt?

      </p>
    </main>

    <%- include('includes/footer') %>
    
  </body>
</html>
