<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="header">
        <a href="/" class="logo">Home Page</a>
        <nav class="navbar">
            <a href="/login">Log In</a>
        </nav>
        <div id="menu-icon"><i class="fas fa-bars"></i></div>
    </header>

    <main class="home">
        <div class="home-content">
            <h3>Welcome Back</h3>
            <h1>Login Page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum repellat pariatur iure placeat nesciunt? Ipsum, quod odio? Earum corrupti repellat, officiis est autem maiores dolor quis quam porro et impedit?</p>
            <br>
            <a href="/" class="btn">Back to Register</a>
        </div>
    </main>

    <footer class="footer">
        <p class="copyright">&copy; 2026 Our Wonderful App. All rights reserved.</p>
    </footer>
</body>
</html>